<div class="row">
    <div class="col-sm-4">
        <h1>Edit Category</h1>
        <form action="/admin/categories/create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" value="{{catagory.name}}" required>
            </div>
            <button class="btn btn-primary">Edit Category</button>
        </form>
    </div>
</div>